* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.col-header {
  /*width: 150px;*/
  flex: 1;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  /*border-radius: 20px;*/
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 200px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  flex: 1;
  height: 300px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.item.hold {
  border: 2px solid #eeeeee;
}

.item.hide {
  display: none;
}

.placeholder.hovered {
  border: 2px solid #8ed7ed;
}
